main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 24px;
    
}

h3 {
    color: var(--secondary-color);
    font-size: 20px;
}

section {
    border-radius: 16px;
    text-align: center;
    margin: 20px 0;

}

.blog-image {
    width: 300px;
    border-radius: 8px;
}

.readmore {
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    padding: 4px;
    border-radius: 4px;
    cursor: pointer; 
    font-size: 20px; 
}

.readmore:hover {
    background-color:  hsl(194, 57%, 32%);
}




