/* For the blog page I have set the display flex, flex-direction and flex-wrap: wrap so as the screens gets bigger the carts goes side by side. I gave some extra styling */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 24px;
    
}
/* Here I gave some extra styling to H3, .readmore and hover effect on .readmore */
h3 {
    color: var(--secondary-color);
    font-size: 1.25rem;
}

section {
    border-radius: 16px;
    text-align: center;
    margin: 20px 0;

}

.blog-image {
    width: 300px;
    border-radius: 8px;
}

.readmore {
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    padding: 4px;
    border-radius: 4px;
    cursor: pointer; 
    font-size: 20px; 
}

.readmore:hover {
    background-color:  hsl(194, 57%, 32%);
}




