main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    
}

article {
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;

}

.blog-image {
    width: 400px;
}

.readmore {
    text-decoration: none;
    color: black;
    background-color:white;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;    
}
