:root {
    --primary-color: #82a6b1f;
    --secondary-color: #004c63;
    --primary-background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to top, #ffffff 20%, #82a6b1 100%);
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 4%;
}

.logo a img {
    height: 150px;
}

.name {
    color: var(--secondary-color);
    font-size: 32px;
    padding-bottom: 30px;

}

#nav-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

#nav-items a {
    text-decoration: none;
    color: #002c3a;
}
    
footer {
    background-color: white;
    text-align: center;
    padding: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a i {
    font-size: 32px;
    color: var(--secondary-color);
    padding: 18px;
}

.info {
    font-size: 18px;
    color: #000000;
}

.info p {
    margin: 5px 0;
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .name {
        color: var(--secondary-color);
        font-size: 36px;
        align-self: center;
    }
    
    #nav-items {
        width: 50%;
    }

   .info {    
        text-align: end;   
    }

    .social-media {
        margin-left: 90%;
    }

    .logo a img {
        height: 200px;
    }
}