:root {
    --primary-color: #82a6b1;
    --secondary-color: #004c63;
    --primary-background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100dvh;
    background-image: linear-gradient(to top, #ffffff 20%, #82a6b1 80%, #004c63 100%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.logo a img {
    height: 130px;
}  

.name {
    color: black;
    font-size: 32px;
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 4px;
}

.nav-items a {
    text-decoration: none;
    color: #002c3a;
    padding: 2px;
    display: block;
    margin: 4px;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 24px
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a i {
    font-size: 32px;
    color: var(--secondary-color);
    padding: 18px;
}

.info {
    font-size: 18px;
    text-align: center;
}

.info p {
    margin: 5px 20px;
}

@media screen and (min-width: 769px) {
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 

    .nav-items {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-around;
        font-size: 28px;
        width: 50%;
    }

    .nav-items a {
        font-size: 24px;
    }

    .logo a img {
        height: 150px;
    } 

    .name {
        font-size: 42px;
    }

}

@media screen and (min-width: 1024px) {
    
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.name {
    font-size: 48px;
}

.nav-items {
    display: flex;
    flex-direction: row; 
    align-items: flex-end;
    justify-content: space-around;
    font-size: 32px;
    width: 50%;
}

.nav-items a {
    font-size: 28px;
}

.logo a img {
    height: 180px;
} 

main {
    flex-direction: row;
    align-items: center;
}

.info {    
    text-align: end;   
}

.social-media {
    margin-left: 90%;
}

.logo a img {
    height: 200px;
}

} 
