.services img {
    display: flex;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.subtitle {
    text-align: center;
    font-size: 28px;
    color: var(--secondary-color);
    padding-top: 20px;
}

ul li {
    margin: 4%;
}

@media screen and (min-width 1024px){
    
}