/* Here I have display flex and flex direction in column for mobile, I have also added some styling to subtitle*/
main {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.services img {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 20px;
}   

.subtitle {
    text-align: center;
    font-size: 1.75rem;
    color: var(--secondary-color);
    padding-top: 20px;
}

ul li {
    margin: 4%;
}
/* For desktops I have sent the flex direction in row and decreased the photo width */
@media screen and (min-width: 1024px) {

    main {
            flex-direction: row;
        }
    
        .services img {
            width: 70%;   
    }